<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/leaflet.awesome-markers.css">
    <link rel="stylesheet" type="text/scss" href="css/L.Control.Locate.scss" />
    <link rel="stylesheet" type="text/css" href="css/leaflet-routing-machine.css" >
    <link rel="stylesheet" type="text/css" href="css/map.css">
    <link rel="stylesheet" type="text/css" href="css/contact.css">
</head>
<body>
<div id="header">
    <a href="/"><img id="logo" src="img/logo.png" alt="atoilet"></a>
    <a  href="/contact"><img id="icon_info" src="img/info.png" alt="contact"></a>
</div>
