<% include partials/header %>

<section id="contact">
    <h1>Vragen of opmerkingen?</h1>
    <h2 id="telephone">+32 3 22 11 333</h2>
    <h2>info@antwerpen.be</h2>
    <a id=back-to-map href="/">Terug naar kaart</a>
    <h3>A-toilet team</h3>
    <p>© 2019 All rights reserved.</p>

</section>
<% include partials/footer %>
