<div id="map">
</div>
<script src="js/leaflet-routing-machine.js"></script>
<script src="js/L.Control.Locate.js" charset="utf-8"></script>
<script src="js/leaflet.awesome-markers.js"></script>
<script src="js/map.js"></script>

<script>
    <%
    numberOfToilets = toiletArray.length;
    %>
    const currentDate = new Date();
    const dayOfWeek = currentDate.getDay();
    let openingDateTime = new Date();
    let closingDateTime = new Date();
    let openingDateTimeUtc = new Date();
    let closingDateTimeUtc = new Date();
    let icon = "";
    alleToiletten = []
    let gratisToiletten = [];
    let luierTafel = [];
    let routing;

    <%
    for (var i = 0; i < numberOfToilets; i++) { %>
    switch (dayOfWeek) {
        case 1:
            openingDateTime = '<%- toiletArray[i].attributes.MABU %>';
            closingDateTime = '<%- toiletArray[i].attributes.MAEU %>';
            break;
        case 2:
            openingDateTime = '<%- toiletArray[i].attributes.DIBU %>';
            closingDateTime = '<%- toiletArray[i].attributes.DIEU %>';
            break;
        case 3:
            openingDateTime = '<%- toiletArray[i].attributes.WOBU %>';
            closingDateTime = '<%- toiletArray[i].attributes.WOEU %>';
            break;
        case 4:
            openingDateTime = '<%- toiletArray[i].attributes.DOBU %>';
            closingDateTime = '<%- toiletArray[i].attributes.DOEU %>';
            break;
        case 5:
            openingDateTime = '<%- toiletArray[i].attributes.VRBU %>';
            closingDateTime = '<%- toiletArray[i].attributes.VREU %>';
            break;
        case 6:
            openingDateTime = '<%- toiletArray[i].attributes.ZABU %>';
            closingDateTime = '<%- toiletArray[i].attributes.ZAEU %>';
            break;
        case 7:
            openingDateTime = '<%- toiletArray[i].attributes.ZOBU %>';
            closingDateTime = '<%- toiletArray[i].attributes.ZOEU %>';
            break;
    }

    openingDateTimeUtc = convertToUTCTime(openingDateTime);
    closingDateTimeUtc = convertToUTCTime(closingDateTime);
    iconChooser(openingDateTimeUtc, closingDateTimeUtc, '<%- toiletArray[i].attributes.TYPE %>', '<%- toiletArray[i].attributes.DOELGROEP %>')

    //add marker to map
    var marker = L.marker([<%= toiletArray[i].geometry.y %>,<%= toiletArray[i].geometry.x %>], {icon: icon})
        .bindPopup(
            '<div class="naam"><%= toiletArray[i].attributes.OMSCHRIJVING %></div>' +
            '<div class="plaats"><%= toiletArray[i].attributes.STRAAT %> <%= toiletArray[i].attributes.HUISNUMMER %></div>' +
            '<div class="title">Type</div> <div><%= toiletArray[i].attributes.TYPE %></div>' +

            '<div class="title">Betalend</div> <div><%= toiletArray[i].attributes.BETALEND %></div>' +
            '<div class="title">Luiertafel</div>  <div><%= toiletArray[i].attributes.LUIERTAFEL %></div>' +


            '<div class="Openingsuren">Openingsuren</div>' +
            '<div class="titleUur">Maandag</div>' + getOpenCloseTimeToilet('<%- toiletArray[i].attributes.MABU %>', '<%- toiletArray[i].attributes.MAEU %>') +
            '<div class="titleUur">Dinsdag </div>' + getOpenCloseTimeToilet('<%- toiletArray[i].attributes.DIBU %>', '<%- toiletArray[i].attributes.DIEU %>') +
            '<div class="titleUur">Woensdag </div>' + getOpenCloseTimeToilet('<%- toiletArray[i].attributes.WOBU %>', '<%- toiletArray[i].attributes.WOEU %>') +
            '<div class="titleUur">Donderdag </div>' + getOpenCloseTimeToilet('<%- toiletArray[i].attributes.DOBU %>', '<%- toiletArray[i].attributes.DOEU %>') +
            '<div class="titleUur">Vrijdag </div>' + getOpenCloseTimeToilet('<%- toiletArray[i].attributes.VRBU %>', '<%- toiletArray[i].attributes.VREU %>') +
            '<div class="titleUur">Zaterdag </div>' + getOpenCloseTimeToilet('<%- toiletArray[i].attributes.ZABU %>', '<%- toiletArray[i].attributes.ZAEU %>') +

            '<div class="titleUur">Zondag </div>' + getOpenCloseTimeToilet('<%- toiletArray[i].attributes.ZOBU %>', '<%- toiletArray[i].attributes.ZOEU %>') +
            '<button class="popupButton" type="button" value="Start route" onclick="getRoute(' + <%= toiletArray[i].geometry.y %> +',' + <%= toiletArray[i].geometry.x %> +')">Start route</button>'
        ).addTo(map);

    //add filters
    alleToiletten.push(marker);

    if ('<%= toiletArray[i].attributes.BETALEND %>' === 'nee') {
        gratisToiletten.push(marker);
    }
    if ('<%= toiletArray[i].attributes.LUIERTAFEL %>' === 'ja') {
        luierTafel.push(marker);
    }
    <%
    }
    %>

    layerAlle = L.layerGroup(alleToiletten);
    layerGratis = L.layerGroup(gratisToiletten);
    layerLuier = L.layerGroup(luierTafel);

    filters = {
        "Alle toiletten": layerAlle,
        "Gratis": layerGratis,
        "Luiertafel": layerLuier
    };
    layerAlle.addTo(map);

    layerAlle.addTo(map);
    L.control.layers(filters, null, {collapsed: false, position: 'bottomleft'}).addTo(map);

    //add route to selected pin
    function getRoute(lt, lng) {
        if (routing != null) {
            routing.remove();
        }

        if (userLatLng !== null) {
            routing = L.Routing.control({
                routeWhileDragging: false,
                addWaypoints: false,
                lineOptions: {
                    styles: [{color: 'black', opacity: 0.15, weight: 9}, {
                        color: 'white',
                        opacity: 0.8,
                        weight: 6
                    }, {color: "#256EFF", opacity: 1, weight: 4}]
                },
                plan: L.Routing.plan([
                    L.latLng(userLatLng),
                    L.latLng(lt, lng)
                ], {
                    createMarker: function (i, wp) {
                        return L.marker(wp.latLng, {
                            draggable: true,
                            icon: locationMarker
                        });
                    }
                })
            }).addTo(map)
        }
    }

    //converts time to current timezone
    function convertToUTCTime(date) {
        let d = new Date(parseInt(date));
        let dateUtc = d.getTime() + d.getTimezoneOffset() * 60000;  //converteert naar UTC 00:00
        let newDate = new Date(dateUtc);
        return newDate;
    }

    //creates string with open and close time hours
    function getOpenCloseTimeToilet(openDateTime, closeDateTime) {
        let openinghour = convertToUTCTime(openDateTime)
        let closinghour = convertToUTCTime(closeDateTime)
        if (!isNaN(openinghour)) {
            return openinghour.getHours() + ":" + (openinghour.getMinutes() < 10 ? '0' : '') + openinghour.getMinutes() + " - " + closinghour.getHours() + ":" + (closinghour.getMinutes() < 10 ? '0' : '') + closinghour.getMinutes()
        } else {
            return "doorgaans open"
        }
    }

    //chooses icon for map based upon opening hours, type (24/7) and target audience
    function iconChooser(openingDateTime, closingDateTime, type, doelgroep) {
        //zet datum en tijd opening
        openingDateTime.setUTCFullYear(currentDate.getUTCFullYear(), currentDate.getMonth(), currentDate.getDate())
        openingDateTime.setHours(openingDateTime.getHours() - 1, openingDateTime.getMinutes(), openingDateTime.getSeconds());

        //zet datum en tijd sluiting
        closingDateTime.setUTCFullYear(currentDate.getUTCFullYear(), currentDate.getMonth(), currentDate.getDate())
        closingDateTime.setHours(closingDateTime.getHours() - 1, closingDateTime.getMinutes(), closingDateTime.getSeconds());

        if (closingDateTime <= openingDateTime) {
            closingDateTime.setDate(closingDateTime.getDate() + 1)
        }

        var range = [openingDateTime, closingDateTime];

        function isInRange(value, range) {
            return value >= range[0] && value <= range[1];
        }

        //set icon
        if (isInRange(currentDate, range) || type === '24/24' || openingDateTime.getHours() === closingDateTime.getHours()) {
            if (doelgroep === 'man/vrouw') {
                icon = toiletMixedOpen;
            } else {
                icon = toiletManOpen;
            }
        } else {
            if (doelgroep === 'man/vrouw') {
                icon = toiletMixedClosed;
            } else {
                icon = toiletManClosed;
            }
        }
    }

</script>
