#contact{
    height: 90vh;
    text-align: center;
    background-color: #180093;
    color: #FCFCFC;
    font-size: 0.90rem;
    padding: 2rem;
    line-height: 1.9rem;
    margin-top: 3rem;

}

#contact h1{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;

}

#contact h2{
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

#contact h3{
  margin-top: 1rem;
}


#contact p {
  font-size: 0.5rem;
}

#back-to-map{
    color: white;
    font-size: 1.2rem;
}


