/*
KLEURTJES
Blue Crayola: #256EFF
Darkblue: #180093
Babypowder: #FCFCFC
MP: #3DDC97
EUC: #FF495C
*/

html {
  box-sizing: border-box;
  background-color: #FCFCFC;
  font-family: Helvetica;
}

body {
    padding: 0;
    margin: 0;
}

body, #map {
    height: 89vh;
    width: 100vw;
}

#header{
  height: 11vh;
  text-align: center;
}
#logo{
  height: 10vh;
  margin-left: 1rem;
}

#icon_info{
  height: 20px;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;

}

/* ---   Styling pop up   --- */
.leaflet-popup-content-wrapper { /*big box*/
  background-color: #180093;
  width: 15rem;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
}

.leaflet-popup-content { /*kader van content*/
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0px;
  background-color: #FCFCFC;
  border-radius: 7px;
}

.leaflet-popup-tip-container { /*de pin aan icon*/
}

.naam {
  grid-area: 1 / 1 / span 1 / span 2;
  /*Make "naam" start on row 1 column 1, and span 1 row and 2 columns*/
  text-align: center;
  font-size: 0.80rem;
  font-weight: bold;
  background-color: #180093;
  border: 2px solid #190093;
  padding: 5px 10px 5px 10px;;
  color: #FCFCFC;
  padding-left: 10px; /*extra padding to avoid close-cross element overlap*/
  padding-right: 10px;  /*extra padding to avoid close-cross element overlap*/
  text-transform: uppercase;
}
.plaats{
    grid-area: 2 / 1 / span 1 / span 2;
      text-align: center;
      font-weight: bold;
      color:#180093;
}
.Openingsuren{ /*titel openingsuren*/
  grid-area: 6 / 1 / span 1 / span 2;
  /*Make "naam" start on row 1 column 1, and span 1 row and 2 columns*/
  text-align: center;
  font-weight: bold;
  font-size: 0.70rem;
  border-top: 2px solid #180093;
  text-transform: uppercase;
}

.title { /*dagen, plaats, betalend etc*/
  font-weight: bold;
  margin-right: 5px;
  text-align: right;
}
.titleUur { /*dagen, plaats, betalend etc*/
  font-weight: bold;
  margin-top: -5px;
  margin-right: 5px;
  text-align: right;
}

.leaflet-popup-content div{
  padding: 5px;
}
.leaflet-popup-content img{
  max-width: 30px;
  max-height: 30px;
  padding-bottom: 5px;
}

/* styling start route */
.popupButton{
  margin: 0 auto;
  grid-area: 14 / 1 / span 1 / span 2;
  /*Make "popup" start on row 14 column 1, and span 1 row and 2 columns*/
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: #180093;
  border: 2px solid #190093;
  color: #FCFCFC;
  border-radius: 0px;
  padding: 13px 10px 10px 10px;
  cursor: pointer;
}
/*- einde styling pop-up -*/

/*Styling control layers*/
.leaflet-touch, .leaflet-control-layers{
  background-color: #FCFCFC;
}

.leaflet-control-layers-base, .leaflet-control-layers-expanded{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  text-align: center;
}

.leaflet-left .leaflet-control{
  margin-left: 0px;
  margin-bottom: 0px;
}

.leaflet-control-layers-base input{
  display: none;
}

.leaflet-control-layers-base div{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: #180093;
  border: 0.2px solid #FCFCFC;
  color: #FCFCFC;
  padding: 13px 10px 10px 10px;
  cursor: pointer;
}

.leaflet-routing-collapsible{
  width: 60%;
}
.leaflet-control-attribution{
  display: none;
}

/* Styling mobile only, delete route when on small screen
@media screen and (max-width: 600px) {
  make route description invisible
  .leaflet-routing-container{
    visibility: hidden;
  }
}
*/